*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #fc00f7, #90EE90, #fbee32, #69c6f5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}